.agent {
    background: url('../img/bg/agent_bg.webp') center (center/cover) no-repeat;
    padding: 58px 0 75px 0;
    &__icon {
        margin: 0 auto;
        width: 102px;
        height: 102px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 100%;
    }
    &__title {
        margin-top: 20px;
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }
    &__desc {
        width: 985px;
        margin: 14px auto 0 auto;
        color: #fff;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
    }
}